<div class="container">
    <label>Enter Address</label>
    <div class="form-row pb-2">
        <div class="form-group col-6">
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocapitalize="off" autocorrect="off" spellcheck="off" #search>
        </div>
        <div class="form-group col-6">
            <button class="btn btn-primary" (click)="findMe()">Find me</button>
        </div>
    </div>
    <agm-map [latitude]='latitude' [longitude]='longitude' [zoom]='zoom'>
        <agm-marker [latitude]='latitude' [longitude]='longitude' [markerDraggable]='true'></agm-marker>
    </agm-map>
    <div class="form-row pt-2">
        <div class="form-group ml-4">Latitude : {{latitude}}</div>
        <div class="form-group ml-4">Longitude : {{longitude}}</div>
    </div>
    <div class="form-row pt-2 ml-3">Address : {{address}}</div>

</div>