<!-- Footer -->
<footer class="text-center text-lg-start mt-5 footer-bg-color text-white">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block"></div>
        <div>
            <a href="" class="me-4 ml-3 text-reset"><i class="fa fa-fw fa-facebook-official"></i></a>
            <a href="" class="me-4 ml-3 text-reset"><i class="fa fa-fw fa-twitter"></i></a>
            <a href="" class="me-4 ml-3 text-reset"><i class="fa fa-fw fa-google"></i></a>
            <a href="" class="me-4 ml-3 text-reset"><i class="fa fa-fw fa-instagram"></i></a>
            <a href="" class="me-4 ml-3 text-reset"><i class="fa fa-fw fa-linkedin"></i></a>
            <a href="" class="me-4 ml-3 text-reset"><i class="fa fa-fw fa-github"></i></a>
        </div>
    </section>

    <!-- Section: Links  -->
    <section class="">
        <div class="text-center text-md-start mx-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>News and Events
                    </h6>
                    <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <!-- Grid column Useful links -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a class="text-reset" routerLink="/"><i class="fa fa-fw fa-home"></i>Home</a></p>
                    <p><a class="text-reset" routerLink="/find_my_doctor"><i class="fa fa-fw fa-search"></i>Find My Doctor</a></p>
                    <p><a class="text-reset" routerLink="/shopping-cart"><i class="fa fa-fw fa-newspaper-o"></i>Medical News</a></p>
                    <p><a class="text-reset" routerLink="/contact_us"><i class="fa fa-fw fa-phone-square"></i>Contact Us</a></p>
                    <p><a class="text-reset" routerLink="/help-line"><i class="fa fa-fw fa-info-circle"></i>Help Line</a></p>
                </div>

                <!-- Grid column Services -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Services</h6>
                    <p><a class="text-reset" routerLink="/doctor/register"><i class="fa fa-fw fa-user-md"></i>Doctors</a></p>
                    <p><a class="text-reset" href="#"><i class="fa fa-fw fa-hospital-o"></i>Hospitals</a></p>
                    <p><a class="text-reset" href="#"><i class="fa fa-fw fa-h-square"></i>Clinics</a></p>
                    <p><a class="text-reset" href="#"><i class="fa fa-fw fa-medkit"></i>Pharmacies</a></p>
                    <p><a class="text-reset" href="#"><i class="fa fa-fw fa-tint"></i>Blood Bank</a></p>
                    <p><a class="text-reset" href="#"><i class="fa fa-fw fa-heartbeat"></i>Fitness Center</a></p>
                </div>

                <!-- Grid column About Us -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">About Us</h6>
                    <p><a class="text-reset" href="#"><i class="fa fa-fw fa-street-view"></i>Who Are We</a></p>
                    <p><a class="text-reset" href="#"><i class="fa fa-fw fa-handshake-o"></i>Our Mission</a></p>
                    <p><a class="text-reset" href="#"><i class="fa fa-fw fa-question-circle"></i>FAQs</a></p>
                </div>

                <!-- Grid column Contact Details -->
                <div class="col-md-5 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact Details</h6>
                    <p><i class="fa fa-fw fa-envelope me-3"></i> find_my_doc@gmail.com</p>
                    <p><i class="fa fa-fw fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fa fa-fw fa-print me-3"></i> + 01 234 567 89</p>
                    <p><i class="fa fa-fw fa-home me-3"></i> Air University, Sector E-9 (PAF Complex), Islamabad, Pakistan.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:<a class="text-reset fw-bold" href="http://localhost:4200/">FMDFrontEnd</a>
    </div>
</footer>
<!-- Footer -->