<div class="container col-md-5 pt-2 justify-content-center">
    <div class="card">
        <h4 class="card-header">Forgot Password</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!emailSent">
                <div class="form-group">
                    <p class="mb-4">A reset link will be sent to following email</p>
                    <input type="email" formControlName="email" class="form-control" placeholder="Enter Email" appAutoFocus [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email is invalid</div>
                    </div>
                </div>
                <a routerLink="../sign_in" class="ml-0 pl-0 btn btn-link">Back to Sign in</a>
                <button [disabled]="loading" class="btn btn-primary mt-2 float-right">
                        <span style="visibility: hidden;">a</span>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Send
                        <span style="visibility: hidden;">a</span>
                    </button>
            </form>
        </div>
    </div>
</div>