<!--
    <div class="container card-columns">
    <!- First Card Starts->
    <div class="card">
        <img class="card-img-top" src="assets/item1.jpg" alt="Card image" style="width:100%; height: 400px;">
        <div class="card-body">
          <h4 class="card-title">Bearde Setting</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          
          <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
        </div>
</div>
-->

<div class="team text-center pb-0">
    <h2>Your Doctor</h2>
</div>

<div class="container">
    <h5>Smart Searchbar</h5>
    <p>Searchbar to find best doctor for you.</p>
    <div class="input-group mb-3">
        <select class="custom-select mt-0">
            <option selected>Choose Doctor Specialization...</option>
            <option value="1">Obstetrician</option>
            <option value="2">Neonatologist</option>
            <option value="3">Gynecologist</option>
        </select>
        <div class="input-group-append">
            <label class="input-group-text" routerLink="/find_my_doctor">Search</label>
        </div>
    </div>
</div>
<!-- <div class="row mx-5 text-center">
    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
        <div class="card card-default p-1">

            <img class="card-img-top" src="assets/doctor1.jpg" alt="Card image" style="width:100%; height: 300px;">
            <div class="card-body">

                <h4 class="card-title">Bearde Setting</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>

                <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
        <div class="card card-default">

            <img class="card-img-top" src="assets/doctor2.jpg" alt="Card image" style="width:100%; height: 300px;">
            <div class="card-body">
                <h4 class="card-title">Bearde Setting</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>

                <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
        <div class="card card-default">

            <img class="card-img-top" src="assets/doctor3.jpg" alt="Card image" style="width:100%; height: 300px;">
            <div class="card-body">
                <h4 class="card-title">Bearde Setting</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>

                <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
        <div class="card card-default">

            <img class="card-img-top" src="assets/doctor4.jpg" alt="Card image" style="width:100%; height: 300px;">
            <div class="card-body">
                <h4 class="card-title">Bearde Setting</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>

                <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
            </div>
        </div>
    </div>

    <!--
    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
        <div class="single-about-detail clearfix">
            <div class="about-img">
                <img class="img-responsive" src="assets/member2.jpg" alt="">
            </div>
            <div class="about-details">
                <div class="pentagon-text">
                    <h1>C</h1>
                </div>
                <h3>Children’s specialist</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
        <div class="single-about-detail clearfix">
            <div class="about-img">
                <img class="img-responsive" src="assets/member3.jpg" alt="">
            </div>
            <div class="about-details">
                <div class="pentagon-text">
                    <h1>C</h1>
                </div>
                <h3>Children’s specialist</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
        <div class="single-about-detail clearfix">
            <div class="about-img">
                <img class="img-responsive" src="assets/member4.jpg" alt="">
            </div>
            <div class="about-details">
                <div class="pentagon-text">
                    <h1>C</h1>
                </div>
                <h3>Children’s specialist</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
        <div class="single-about-detail clearfix">
            <div class="about-img">
                <img class="img-responsive" src="assets/member5.jpg" alt="">
            </div>
            <div class="about-details">
                <div class="pentagon-text">
                    <h1>C</h1>
                </div>
                <h3>Children’s specialist</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
            </div>
        </div>
    </div>
</div> -->

<section>
    <div class="m-3">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Top Rated Doctors </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">

                                        <img class="card-img-top" src="assets/doctor1.jpg" alt="Card image" style="width:100%; height: 300px;">
                                        <div class="card-body">

                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>





                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">

                                        <img class="card-img-top" src="assets/doctor2.jpg" alt="Card image" style="width:100%; height: 300px;">
                                        <div class="card-body">

                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">

                                        <img class="card-img-top" src="assets/doctor3.jpg" alt="Card image" style="width:100%; height: 300px;">
                                        <div class="card-body">

                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">

                                        <img class="card-img-top" src="assets/doctor4.jpg" alt="Card image" style="width:100%; height: 300px;">
                                        <div class="card-body">

                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">

                                        <img class="card-img-top" alt="Card image" style="width:100%; height: 300px;" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">

                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">

                                        <img class="card-img-top" alt="Card image" style="width:100%; height: 300px;" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                        <div class="card-body">

                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">

                                        <img class="card-img-top" alt="Card image" style="width:100%; height: 300px;" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                        <div class="card-body">

                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">
                                        <img class="card-img-top" alt="Card image" style="width:100%; height: 300px;" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                        <div class="card-body">
                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">
                                        <img class="card-img-top" alt="Card image" style="width:100%; height: 300px;" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">
                                        <img class="card-img-top" alt="Card image" style="width:100%; height: 300px;" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">
                                        <img class="card-img-top" alt="Card image" style="width:100%; height: 300px;" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                        <div class="card-body">
                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="card card-default p-1">
                                        <img class="card-img-top" alt="Card image" style="width:100%; height: 300px;" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h4 class="card-title">Bearde Setting</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <div class="row col-lg-12 mb-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <a class="btn btn-primary nav-item nav-link-edit" routerLink="/doctor/profile">See Profile</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>